<!DOCTYPE html>
<html>
    <head>
        <!--Change the title-->
        <title>Experiment</title>
        
        <!--jsPsych necessities start-->
        <script src="../static/js/jsPsych-6.0.1/jspsych.js"></script>
        <link href="../static/js/jsPsych-6.0.1/css/jspsych.css" rel="stylesheet" type="text/css"></link>
        <!--jsPsych necessities end-->
        
        <!--jsPsych plugins start-->
        <script src="../static/js/jsPsych-6.0.1/plugins/jspsych-image-slider-response.js"></script>
        <script src="../static/js/jsPsych-6.0.1/plugins/jspsych-html-slider-response.js"></script>
        <script src="../static/js/jsPsych-6.0.1/plugins/jspsych-survey-multi-choice.js"></script>
        </script><script src="../static/js/jsPsych-6.0.1/plugins/jspsych-call-function.js"></script>
        <script src="../static/js/jsPsych-6.0.1/plugins/jspsych-instructions.js"></script>
       <!-- <script src="../static/js/jsPsych-6.0.1/plugins/jspsych-html-keyboard-response.js"></script> -->
        <script src="../static/js/jsPsych-6.0.1/plugins/jspsych-html-button-response.js"></script>
        <!--jsPsych plugins end-->
        
        <!--PsiTurk inserts start-->
        <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="../static/lib/underscore-min.js" type="text/javascript"> </script>
        <script src="../static/lib/backbone-min.js" type="text/javascript"> </script>
        <script src="../static/lib/d3.v3.min.js" type="text/javascript"> </script>
        <!-- These variables are necessary to implement psiTurk -->
        <script type="text/javascript">
            // These fields provided by the psiTurk Server
            var uniqueId = "{{ uniqueId }}"; // a unique string identifying the worker/task
            var adServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
            var mode = "{{ mode }}"; // is this running live, sandbox, or in debug mode?
        </script>
        <!-- utils.js and psiturk.js provide the basic psiturk functionality -->
        <script src="../static/js/utils.js" type="text/javascript"></script>
        <script src="../static/js/psiturk.js" type="text/javascript"></script>
        <!--PsiTurk inserts end-->
    </head>
    <body>
    </body>
    <script>
    
        //Data switches
        var psiTurkIsOn = 0;   // 0: Test locally.  1: Test/Run on psiTurk
        var savingLocally = 1; // 0: Nothing.       1: Download CSV file
        var displayData = 0;   // 0: Nothing.       1: Display data on browser
        var savingToDatabase = 0;//Should be 1 when psiturkIsOn
        savingToDatabase = psiTurkIsOn ? 1 : savingToDatabase;//Safeguard to ensure that it saves to the database if psiturk is on
        
        var username = 'odegaard';     // Username for psiturk server
        var tableName = 'Scz_Faces';    // MySQL Table Name 
        var folderName = 'scz_faces';   // Folder containing the experiment
        
        //Get the workerID, etc. if we are saving to Database
        if(savingToDatabase){
          var workerId = $_GET('workerId');
          var assignmentId = $_GET('assignmentId');
          var hitId = $_GET('hitId');
          
          console.log("workerId:");
          console.log(workerId);
          console.log("assignmentId:");
          console.log(assignmentId);
          console.log("hitId:");
          console.log(hitId);
        }
        
        
        // Load psiturk
        if (psiTurkIsOn){
          var psiturk = new PsiTurk(uniqueId, adServerLoc, mode);
        }
        
        
        ///////////////////////////////////////////////////////////////
        //-----------------Your code below this line-----------------//
        
        //Parameters
        //nTrials2AFC = 104; //Must be multiple of 4 for counterbalancing gender & PE
        nTrials3AFC = 208; //Must be multiple of 8 for counterbalancing gender, PE & norm
        nFacesPerGender = 10; //How many faces to keep from each gender for the AFC trials
        
        
        //Global variables to be filled in by functions below
        var AFC2Array = [];   //Array to hold the 2AFC Trials
        var AFC3Array = [];   //Array to hold the 3AFC Trials
        var phase2Array = []; //Array to hold all trials for phase 2 (mix of 2AFC and 3AFC)
        var highPEMaleArray = [];   //Array to hold the high PE Male   Face Objects
        var highPEFemaleArray = []; //Array to hold the high PE Female Face Objects
        var lowPEMaleArray = [];    //Array to hold the low  PE Male   Face Objects
        var lowPEFemaleArray = [];  //Array to hold the low  PE Female Face Objects
        
        //Variable to keep track of whether the subject completed all phases
        var allPhasesCompleted = false; //Set to true in on_finish of debrief block
        
        //Variable to keep track of whether the subject answered all the phase1 questions below 1s
        var subjectAnsweredAllPhase1Below1Second = true; //Changed in the on_finish function of the phase 1 questions
        
        //The array of male stimuli
        var female_stimuli = [
          {path: '../static/images/female/AF01NES.JPG'},
          {path: '../static/images/female/AF02NES.JPG'},
          {path: '../static/images/female/AF03NES.JPG'},
          {path: '../static/images/female/AF04NES.JPG'},
          {path: '../static/images/female/AF05NES.JPG'},
          {path: '../static/images/female/AF06NES.JPG'},
          {path: '../static/images/female/AF07NES.JPG'},
          {path: '../static/images/female/AF08NES.JPG'},
          {path: '../static/images/female/AF09NES.JPG'},
          {path: '../static/images/female/AF10NES.JPG'},
          {path: '../static/images/female/AF11NES.JPG'},
          {path: '../static/images/female/AF12NES.JPG'},
          {path: '../static/images/female/AF13NES.JPG'},
          {path: '../static/images/female/AF14NES.JPG'},
          {path: '../static/images/female/AF15NES.JPG'}
        ];

        //The array of female stumuli
        var male_stimuli = [
          {path: '../static/images/male/AM01NES.JPG'},
          {path: '../static/images/male/AM02NES.JPG'},
          {path: '../static/images/male/AM03NES.JPG'},
          {path: '../static/images/male/AM04NES.JPG'},
          {path: '../static/images/male/AM05NES.JPG'},
          {path: '../static/images/male/AM06NES.JPG'},
          {path: '../static/images/male/AM07NES.JPG'},
          {path: '../static/images/male/AM08NES.JPG'},
          {path: '../static/images/male/AM09NES.JPG'},
          {path: '../static/images/male/AM10NES.JPG'},
          {path: '../static/images/male/AM11NES.JPG'},
          {path: '../static/images/male/AM12NES.JPG'},
          {path: '../static/images/male/AM13NES.JPG'},
          {path: '../static/images/male/AM14NES.JPG'},
          {path: '../static/images/male/AM15NES.JPG'}
        ];
        
        //Extract the info of objects in the array
        female_stimuli = extractInfo(female_stimuli);
        male_stimuli = extractInfo(male_stimuli);
        
        console.log("female_stimuli:");
        console.log(JSON.parse(JSON.stringify(female_stimuli)));
        console.log("male_stimuli:");
        console.log(JSON.parse(JSON.stringify(male_stimuli)));
        
        //Make the instructions for phase 1
        var instructionsBlock1 = makeInstructions1();
        
        //Make the first phase
        var phase1 = makePhase1(); 
        
        //Prep for second phase (calculate mean, sd, z-scores, etc.)
        var prepForPhase2 = makePrepForPhase2();//AFC2Array and AFC3Array are made here
        
        //Make the instructions for phase 2
        var instructionsBlock2 = makeInstructions2();
        
        //Trial counter to manage the loop node
        var trialCounter = 0;
        
        //The AFC Trial to be looped
        var AFCTrial = {
          type: 'html-button-response',
          stimulus: '',
          prompt: function(){
            return phase2Array[trialCounter].timeline[0].prompt;
          },
          choices: function(){
            return phase2Array[trialCounter].timeline[0].choices;
          },
          data: function(){
            return phase2Array[trialCounter].timeline[0].data;
          },
          on_finish: function(data){
            addDataToTrial(data);
          }
        };
        
        //The confidence Trial to be looped
        var confidenceTrial = {
          type: 'html-slider-response',
          stimulus: '',
          labels: ['Extremely unconfident','Extremely confident'],
          start: 0,
          prompt: 'How confident are you in your choice?<br/>',
          data: function(){
            return phase2Array[trialCounter].timeline[1].data;
          },
          on_start: function(trial){
            confidence_on_start_function(trial);
          },
          on_finish: function(data){
            confidence_on_finish_function(data);
          }
        };
        
        //The loop node that loops through the phase2Array and play all the trials
        var loopNode = {
          timeline: [AFCTrial,confidenceTrial],//Insert the token trials into the timeline
          loop_function: function(data){//Return true to loop
            //If we have not reached the end of the array, then we 'loop' the trial
            if(trialCounter < phase2Array.length-1){
              trialCounter++; //Increment the counter to go to the next trial
              return true; //Return true so that it loops
            }
            //Else we have reached the end of the array and should stop looping
            else{
              return false; //Return false so that it stops the looping and exits the loop
            }
          }//End of loop_function
        };//End of loop Node
        
        //Instructions block for the questionnaires
        var instructionsBlock3 = makeInstructions3();
        
        //Survey block
        var surveyBlock = makeSurvey();
        
        //Debrief block
        var debriefBlock = makeDebriefBlock();
        
        //Timeline array to be fed into the jsPsych.init function
        var timeline = [];
        
        //Push the trials into the timeline array
        timeline.push(instructionsBlock1);
        timeline.push(phase1);
        timeline.push(prepForPhase2);
        timeline.push(instructionsBlock2);
        timeline.push(loopNode);
        timeline.push(instructionsBlock3);
        timeline.push(surveyBlock);
        timeline.push(debriefBlock);
        
        
        //==================================
        //======== FUNCTIONS BEGIN =========
        //==================================
        
        //Function to extract the info of the path name to be properties of the stimuli object
        function extractInfo(stimuliArray){
          
          //Temporary array to store all the modified objects
          var tempArray = [];
          
          //Loop through all the stimuli objects in the stimuli array
          for(var i  = 0; i < stimuliArray.length; i++){
            
            //Load in the current object
            var currentObject = stimuliArray[i];
            
            //Get the face number
            var currentFaceNumber = currentObject.path.match(/\d\d/)[0];
            
            //Get the gender
            var currentGender = currentObject.path.match(/M|F/)[0];
            
            //Load in the gender and the face number as properties of the object
            currentObject.faceNumber = Number(currentFaceNumber);
            currentObject.gender = currentGender;
            
            //Push the modified object into the temp array
            tempArray.push(currentObject);
            
          }//End of for loop
          
          //Return the tempArray
          return tempArray;
          
        }//End of extractInfo function
        
        
        //Function to make the first instructions block
        function makeInstructions1(){
          
          //Page 1 instructions
          var page1 = "Welcome to the experiment!<br/>" + 
            "There will be three phases to this experiment, and you will receive separate instructions for each phase.";
            
          //Page 2 instructions
          var page2 = "Your task in phase 1 is to <b>rate the attractiveness</b> of each of the faces that are presented. <br/>" + 
            "If you think they are attractive, slide the slider to the right based on how attractive you think they are (further right means more attractive.) <br/>" +
            "If you think they are unattractive, slide the slider to the left based on how unattractive they are (further left means less attractive.)";
            
          //Page 3 instructions
          var page3 = "<b>*Important* </b>: " + 
            "Please make sure that your window is in <b>fullscreen</b> mode. <br/>" + 
            "If it is not in fullscreen, <i>please do so <b>now</b></i>. <br/>" + 
            "This is to ensure that the images are displayed in the correct size.";
            
          //Page 4 instructions
          var page4 = "Please also note that you will have to move the slider from its initial position to continue. <br/><br/>" +
            "This is the end of the instructions. <br/>" + 
            "Please click 'next' to start the experiment.";
            
          //Load it into a trial object and return it
          return {
            type: 'instructions',
            pages:[
              page1,
              page2,
              page3,
              page4
            ],
            show_clickable_nav: true
          };
          
        }//End of makeInstructions1 function
        
        //Function to make the second instructions block
        function makeInstructions2(){
          
          //Page 1 instructions
          var page1 = "Great job on phase 1!<br/>" + 
            "We will now move on to phase 2 of the experiment.";
            
          //Page 2 instructions
          var page2 = "Your task in phase 2 is to <b>compare the attractiveness</b> of the faces that are presented. <br/>" + 
            "There will be three faces being presented, and you will <b>click on the most attractive face.</b> <br/>";
            
          //Page 3 instructions
          var page3 = "Once you have chosen the most attractive face, a slider will be presented.<br/>" + 
            "<b>Slide the slider based on how confident you are about your choice.</b><br/>" + 
            "If you are CERTAIN that you picked the most attractive face, then slide it all the way to the right.<br/>" + 
            "If you are uncertain, then slide it a little to the right based on how uncertain you are.<br/><br/>" +
            "<i>Make sure to use the full length of the slider to indicate your confidence.</i>";
            
          //Page 4 instructions
          var page4 = "Remember to:<br/>" +
            "(1) Click on the most attractive face, and <br/>" +
            "(2) Slide the slider to indicate how confident you are that the face you chose was the most attractive out of all faces presented.<br/><br/>" + 
            "This is the end of the instructions for phase 2.<br/>" + 
            "Please click 'next' to start the experiment.";
            
          //Load it into a trial object and return it
          return {
            type: 'instructions',
            pages:[
              page1,
              page2,
              page3,
              page4
            ],
            show_clickable_nav: true
          };
          
        }//End of makeInstructions3 function
        
        //Function to make the third instructions block
        function makeInstructions3(){
          
          //Page 1 instructions
          var page1 = "Amazing work on phase 2! <br/>" + 
            "You are almost done! <br/>" + 
            "We will now move on to phase 3 of the experiment.";
            
          //Page 2 instructions
          var page2 = "Phase 3 is a set of 21 simple yes/no questions.<br/>" +
            "Please note that you will have to answer all the questions to continue.<br/>" +
            "We ask that you answer this truthfully as your responses are anonymous and will not affect your compensation.";
            
          //Load it into a trial object and return it
          return {
            type: 'instructions',
            pages:[
              page1,
              page2
            ],
            show_clickable_nav: true
          };
          
        }//End of makeInstructions3 function
        
        
        //Function to make phase 1 (the face rating phase)
        function makePhase1(){
          
          //Make an array to store all the trials for the first part of phase 1
          var phase1Part1 = [];
          
          //Make a template trial object to rate the faces
          var simObject = {
            type: 'image-slider-response',
            stimulus: '<p> Filler stimulus </p>',//Stimulus will be replaced by the image below
            labels: ['Extremely unattractive', 'Extremely attractive'],
            prompt: "How attractive is this person?<br/>",
            button_label: 'Submit',
            response_ends_trial: true,
            on_finish: function(data){
              
              //Determine the gender of the face
              var gender = data.gender;
              
              //Select the array based on the gender
              if(gender === "M"){
                var relevantArray = male_stimuli; //Assignment operator: Points to the same array, not a copy
              }
              else if(gender === "F"){
                var relevantArray = female_stimuli; //Assignment operator: Points to the same array, not a copy
              }
              
              //Look for the object in the relevant array
              for(var i in relevantArray){
                
                //Load in the current object for easy handling
                var currentObject = relevantArray[i];
                
                //If the stimuli matches the path of the object, then we have the correct array
                if(data.path === currentObject.path){
                  
                  //If the rating1 key is not defined, then add the response rating as the rating (as this is probably the first round of ratings)
                  if( !("rating1" in currentObject) ){
                    currentObject.rating1 = data.response;
                  }
                  //Else if the rating2 key is not defined, then we add the response as rating 2 and calculate the average
                  else if ( !("rating2" in currentObject) ){
                    currentObject.rating2 = data.response;
                    //Calculate the average rating
                    var averageRating = (currentObject.rating1 + currentObject.rating2)/2;
                    //Add it into the currentObject
                    currentObject.averageRating = averageRating;
                  }//End of inner if
                }//End of outer if
              }//End of for loop
              
              //If the subject took longer than 1 second to answer, then set the flag to false
              if(data.rt > 1000){
                subjectAnsweredAllPhase1Below1Second = false;
              }
              
            }//End of on_finish
          };//End of simObject
          
          //Load in all the paths for male and female faces
          for(var i in female_stimuli){
            
            //---Female---
            
            //Create a new object for the trial
            var newSimObject1 = Object.assign({},simObject);
            //Add in the stimulus path
            newSimObject1.stimulus = female_stimuli[i].path;
            //Add in the data for the trial
            newSimObject1.data = {
              gender: female_stimuli[i].gender,
              faceNumber: female_stimuli[i].faceNumber,
              path: female_stimuli[i].path
            }
            //Push it into the main array
            phase1Part1.push(newSimObject1);
            
            //---Male---
            
            //Create a new object for the trial
            var newSimObject2 = Object.assign({},simObject);
            //Add in the stimulus path
            newSimObject2.stimulus = male_stimuli[i].path;
            //Add in the data for the trial
            newSimObject2.data = {
              gender: male_stimuli[i].gender,
              faceNumber: male_stimuli[i].faceNumber,
              path: male_stimuli[i].path
            }
            //Push it into the main array
            phase1Part1.push(newSimObject2);
            
          }//End of for loop
          
          //Shuffle the array and save it as the first part
          var phase1Part1 = jsPsych.randomization.shuffle(phase1Part1);
          
          //Make a copy of the previous array, shuffle it, and save it as the second part
          var phase1Part2 = jsPsych.randomization.shuffle(phase1Part1.slice(0));
          
          //Concatenate the arrays to form the first phase
          var phase1Array = phase1Part1.concat(phase1Part2);
          
          //Shuffle the array and return it
          return {
            type: 'image-slider-response',
            timeline: phase1Array
          };//End of return
        }//End of makePhase1
        
        //Function that makes the necessary processing for the previous data for phase 2
        function makePrepForPhase2(){
          
          //Return the call-function trial object
          return {
            type: 'call-function',
            func: function(){
              
              //Loop twice: once for male, and once for female
              for(var j = 0; j < 2; j++){
                
                //If first iteration, then use the male stimuli array
                if(j === 0){
                  var relevantArray = male_stimuli;
                }
                //If second iteration, then use the female stimuli array
                else if(j === 1){
                  var relevantArray = female_stimuli;
                }
                
                //Truncate the array
                truncateArray(relevantArray);
                
                //Print out the array to see it
                console.log("relevantArray sorted by differenceRating:");
                console.log(JSON.parse(JSON.stringify(relevantArray)));
                
                //Calculate rankings and sort the array based on averageRating
                calculateRankings(relevantArray);
              
                //Calculate the mean and SD and update the stimuli array with them
                calculateMeanAndSD(relevantArray);
                
                //Calculate the z-score
                calculateZScore(relevantArray);
                
                //Print out the array to see it
                console.log("relevantArray sorted by averageRating:");
                console.log(JSON.parse(JSON.stringify(relevantArray)));
              
              }//End of for loop
              
              //Make the PE Arrays and check if the distribution of z-scores are good enough to make the trials
              makeAndCheckPEArrays(); //If it is not good enough, this will short-circuit the timeline and end the experiment
              
              //Make the 2AFC Trials, which is stored in the global variable AFC2Array
              //make2AFCTrials();
              
              //Make the 3AFC Trials, which is stored in the global variable AFC3Array
              make3AFCTrials();
              
              //Combine the 2AFC and 3AFC trials, shuffle them, and store them in the global variable phase2Array
              phase2Array = jsPsych.randomization.shuffle(AFC2Array.concat(AFC3Array));
              
            }//End of func
            
          }//End of return object
        }//End of makePrepForPhase2
        
        
        //Function to take out the faces with the largest rating differences
        function truncateArray(relevantArray){
          
          //For loop to calculate the difference between the first and second faces
          for(var i = 0; i < relevantArray.length; i++){
            
            //Get the difference and ad it in as an attribute to the object
            relevantArray[i].ratingDifference = Math.abs(relevantArray[i].rating1 - relevantArray[i].rating2);
            
          }//End of for loop
          
          //Sort the array based on their ratingDifference (smallest to largest)
          relevantArray = relevantArray.sort(function(a,b){return (a.ratingDifference - b.ratingDifference); });
          
          //Truncate the array to the desired length
          relevantArray.length = nFacesPerGender;
          
        }//End of truncateArray
        
        //Function to rank the faces within each gender
        function calculateRankings(relevantArray){
          
          //Sort the array of faces based on the z-score (start of array is highest score)
          relevantArray = relevantArray.sort(function(a,b){return (b.averageRating - a.averageRating); });
          
          //Assign the rankings to the array
          for(var i = 0; i < relevantArray.length; i++){
            relevantArray[i].rank = i+1;
          }
          
        }//End of calculateRankings
        
        //Function to calculate the mean and SD and update the stimuli array with the values
        function calculateMeanAndSD(relevantArray){
          
          //--Mean--
          
          //Accumulator for Male stimuli
          var genderSum = 0;
          
          //Loop through all the male stimuli and get the means
          for (var i in relevantArray){
            genderSum += relevantArray[i].averageRating;
          }
          
          //Calculate the means for the relevant average ratings
          var genderMean = genderSum/relevantArray.length;
          
          //Loop through all the relevant stimuli and add in the mean
          for (var i in relevantArray){
            relevantArray[i].genderMean = genderMean;
          }
          
          //--SD--
          
          //Get the n
          var n = relevantArray.length;
          
          //Accumulator for (x(i)-mu)^2
          var diffSquared = 0;
          
          //For loop that subtracts the mean from the average and then sums the results
          for (var i in relevantArray){
            diffSquared += Math.pow((relevantArray[i].averageRating-genderMean),2);
          }
          
          //Divide by n and take the square root to get the SD
          var genderSD = Math.sqrt(diffSquared/n);
          
          //Loop through all the relevant stimuli and add in the mean
          for (var i in relevantArray){
            relevantArray[i].genderSD = genderSD;
          }
          
        }//End of calculateMeanAndSD
        
        //Function that calculates the z-scores for each face
        function calculateZScore(relevantArray){
          
          //Loop through the stimuli array
          for(var i in relevantArray){
            
            //Load in the current Object for easy handling
            var currentObject = relevantArray[i];
            
            //Calculate the z-score
            zScore = (currentObject.averageRating - currentObject.genderMean)/currentObject.genderSD;
            
            //Add that as one of the properties of the object
            currentObject.zScore = zScore;
            
          }//End of for loop
          
        }//End of calculateZScore
        
        //Function to check if there is a good distribution of z-scores. If there isn't this will short-circuit the timeline and end the experiment
        function makeAndCheckPEArrays(){
          
          //Make an array of HighPE or LowPE Face Objects (i.e. faces with z-score > 0 or < 0)
          highPEMaleArray = makePEArray(male_stimuli,"high"); //Global variable
          highPEFemaleArray = makePEArray(female_stimuli,"high"); //Global variable
          lowPEMaleArray = makePEArray(male_stimuli,"low"); //Global variable
          lowPEFemaleArray = makePEArray(female_stimuli,"low"); //Global variable
          
          console.log("highPEMaleArray:");
          console.log(JSON.parse(JSON.stringify(highPEMaleArray)));
          console.log("highPEFemaleArray:");
          console.log(JSON.parse(JSON.stringify(highPEFemaleArray)));
          console.log("lowPEMaleArray:");
          console.log(JSON.parse(JSON.stringify(lowPEMaleArray)));
          console.log("lowPEFemaleArray:");
          console.log(JSON.parse(JSON.stringify(lowPEFemaleArray)));
          
                    
          //If any of the four arrays have less than 3 elements or if the subject answered all phase 1 questions below 1 second, then we kill the experiment
          if( highPEMaleArray.length   < 3 ||
              highPEFemaleArray.length < 3 ||
              lowPEMaleArray.length    < 3 ||
              lowPEFemaleArray.length  < 3 ||
              subjectAnsweredAllPhase1Below1Second){
           
           //Kill the experiment
           jsPsych.endExperiment("Thank you for participating! <br/> Your responses in phase 1 make you ineligible to complete phase 2. <br/> Please email <b>uclaqualialab@gmail.com</b> with your WorkerID to receive partial compensation.");
            
          }//End of if
          
        }//End of checkPEArrays
        
        //Function to make the 2AFC trials, returns an array of individual trials
        function make2AFCTrials(){
          console.log("started making 2AFC trials.");
         
          //The array to hold all the 2AFC trials
          AFC2Array = []; //Global variable
          
          //Loop that makes the trials
          for (var i = 0; i < nTrials2AFC/4; i++){
            
            //Randomly choose two faces from the high PE array for each gender
            var highPEMalePair = sampleFrom(highPEMaleArray,2);
            var highPEFemalePair = sampleFrom(highPEFemaleArray,2);
            var lowPEMalePair = sampleFrom(lowPEMaleArray,2);
            var lowPEFemalePair = sampleFrom(lowPEFemaleArray,2);
            
            //Make trial from the pair
            var highPEMaleTrial = makeTrialFromPair(highPEMalePair);
            var highPEFemaleTrial = makeTrialFromPair(highPEFemalePair);
            var lowPEMaleTrial = makeTrialFromPair(lowPEMalePair);
            var lowPEFemaleTrial = makeTrialFromPair(lowPEFemalePair);
            
            //Push in the trial into the AFC2Array
            AFC2Array.push(highPEMaleTrial);
            AFC2Array.push(highPEFemaleTrial);
            AFC2Array.push(lowPEMaleTrial);
            AFC2Array.push(lowPEFemaleTrial);
            
          }//End of for loop
          
          console.log("AFC2Array: ");
          console.log(JSON.parse(JSON.stringify(AFC2Array)));
            
        }//End of make2AFCTrials
        
        //Function to make 3AFC trials
        function make3AFCTrials(){
          
          //The array to hold all the 3AFC trials
          AFC3Array = []; //Global variable
          
          //For loop that generates the trials
          for(var i = 0; i < nTrials3AFC/8; i++){
            
            //=======  Choose the triplets  =======
            
            //---- High Norm ----
            
            //--High PE && High Norm--
            //Select all three from z-score > 0 (i.e. highPE Array)
            var highPEMaleHighNormTriplet = sampleFrom(highPEMaleArray,3);
            var highPEFemaleHighNormTriplet = sampleFrom(highPEFemaleArray,3);
            
            //--Low PE && High Norm--
            //Select all three from z-score < 0 (i.e. lowPE Array)
            //High or Low Norm will be determined during analysis. Variable names here are merely filler and for counterbalancing
            var lowPEMaleHighNormTriplet = sampleFrom(lowPEMaleArray,3);
            var lowPEFemaleHighNormTriplet = sampleFrom(lowPEFemaleArray,3);
            
            
            //---- Low Norm ----
            
            //--High PE && Low Norm--
            //Select two from z-score > 0 and one from z-score < 0
            var highPEMaleLowNormTriplet = sampleFrom(highPEMaleArray,2).concat(sampleFrom(lowPEMaleArray,1));
            var highPEFemaleLowNormTriplet = sampleFrom(highPEFemaleArray,2).concat(sampleFrom(lowPEFemaleArray,1));
            
            //--Low PE && Low Norm--
            //Select all three from z-score < 0 (i.e. lowPE Array)
            //High or Low Norm will be determined during analysis. Variable names here are merely filler and for counterbalancing
            var lowPEMaleHighLowTriplet = sampleFrom(lowPEMaleArray,3);
            var lowPEFemaleLowNormTriplet = sampleFrom(lowPEFemaleArray,3);
            
            
            //=======  Make the triplet trials  =======
            
            //Make trial from the triplet
            var highPEMaleHighNormTrial   = makeTrialFromTriplet(highPEMaleHighNormTriplet);
            var highPEFemaleHighNormTrial = makeTrialFromTriplet(highPEFemaleHighNormTriplet);
            var lowPEMaleHighNormTrial    = makeTrialFromTriplet(lowPEMaleHighNormTriplet);
            var lowPEFemaleHighNormTrial  = makeTrialFromTriplet(lowPEFemaleHighNormTriplet);
            var highPEMaleLowNormTrial    = makeTrialFromTriplet(highPEMaleLowNormTriplet);
            var highPEFemaleLowNormTrial  = makeTrialFromTriplet(highPEFemaleLowNormTriplet);
            var lowPEMaleHighLowTrial     = makeTrialFromTriplet(lowPEMaleHighLowTriplet);
            var lowPEFemaleLowNormTrial   = makeTrialFromTriplet(lowPEFemaleLowNormTriplet);
            
            //=======  Push in the trials into the AFC2Array  =======
            
            AFC3Array.push(highPEMaleHighNormTrial);
            AFC3Array.push(highPEFemaleHighNormTrial);
            AFC3Array.push(lowPEMaleHighNormTrial);
            AFC3Array.push(lowPEFemaleHighNormTrial);
            AFC3Array.push(highPEMaleLowNormTrial);
            AFC3Array.push(highPEFemaleLowNormTrial);
            AFC3Array.push(lowPEMaleHighLowTrial);
            AFC3Array.push(lowPEFemaleLowNormTrial);
            
          }//End of for loop
          
          console.log("AFC3Array: ");
          console.log(JSON.parse(JSON.stringify(AFC3Array)));
          
        }//End of make3AFCTrials
        
        //Function to sample a number of face objects from a PEArray and checks their z-score are all different
        function sampleFrom(relevantArray, n){
          
          //Get a sample from the array without replacement
          var sample = jsPsych.randomization.sampleWithoutReplacement(relevantArray,n);
          
          //If we are just choosing one, then we just return the array of a single object
          if(n === 1){
            return sample;
          }
          //Else we check to make sure that they all have different z-scores
          else{
            
            //Flag to check if it is a duplicate
            var duplicate = false;
            
            //Array to hold the z-scores
            var zScoresArray = [];
            
            //Load in all the z-scores
            for(var i = 0; i < sample.length; i++){
              zScoresArray.push(sample[i].zScore);
            }
            
            //Sort the array based on z-score
            sample = sample.sort(function(a,b){return (b.zScore - a.zScore); });
            
            //Loop through the array to see if any of them are duplicates
            for(var i = 0; i < sample.length-1; i++){
              //If the current zScore is the same as the next zScore, then we know that there is a duplicate
              if(sample[i].zScore === sample[i+1].zScore){
                //Set the flag to true
                duplicate = true;
              }
            }//End of for loop
            
            //If it is a duplicate
            if(duplicate){
              //Recusively call this function again to get another sample and check again
              return sampleFrom(relevantArray,n);
            }
            //Else we have found a distinct sample
            else{
              //Return the sample
              return jsPsych.randomization.shuffle(sample);
            }//End of inner if-else
            
          }//End of outer if-else (if n === 1)
          
        }//End of sampleFrom
        
        //Function to make the image html tag
        function makeImageHTML(path){
          
          //Get the width of the window
          var windowWidth = window.innerWidth;
          
          //Calculate the width of the image
          var imageWidth = windowWidth/4; //Scale it down so that all 3 can fit comfortably
          
          //Constrain the width if it is too large (for very wide screens)
          if(imageWidth > 450){
            imageWidth = 450;
          }
          
          //Return the image tag with the formatting
          return '<img src=' + path + ` style="width:${imageWidth}px; height:auto;">`;
        
        }//End of makeImageHTML
        
        //Function to make the PE Arrays
        function makePEArray(relevantArray, highOrLow){
          
          //Array to be returned with pointers to the face objects
          var tempArray = [];
          
          //For loop that goes through the relevant array
          for(var i = 0; i < relevantArray.length; i++){
            
            //Load in the face for easy handling
            var currentFaceObject = relevantArray[i];
            
            //If we want the high PE and the z-score of the current face is > 0
            if(highOrLow === "high" && currentFaceObject.zScore > 0){
              tempArray.push(currentFaceObject);
            }
            //Else if we want the low PE and the z-score of the current face is < 0
            else if (highOrLow === "low" && currentFaceObject.zScore < 0){
              tempArray.push(currentFaceObject);
            }
            
          }//End of for loop
          
          //Return the array
          return tempArray;
          
        }//End of makePEArray
        
        //Function to make a trial from a pair
        function makeTrialFromPair(pair){
          
          //Load in the face Object for easy handling
          var face1 = pair[0];
          var face2 = pair[1];
          
          //Determine if highPE or lowPE
          if(face1.zScore < 0){
            var PE = "low";
          }
          else if(face1.zScore > 0){
            var PE = "high";
          }
          
          //Make the choice trial object
          var choiceTrial = {
            type: 'html-button-response',
            stimulus: '',
            prompt: '<p> Which face is more attractive? </p>',
            choices: [
              makeImageHTML(face1.path),
              makeImageHTML(face2.path)
            ],
            //The data that is included in the trial
            data: {
              //Log in the general trial data
              trialType: "2AFC",
              PE: PE,
              gender: face1.gender,
              zScoreDiff: face1.zScore - face2.zScore,
              targetZScore: face1.zScore > face2.zScore ? face1.zScore : face2.zScore,
              nonTargetZScore: face1.zScore < face2.zScore ? face1.zScore : face2.zScore,
              //Face 1 data
              faceNumber1:face1.faceNumber,
              zScore1: face1.zScore,
              faceType1: face1.zScore > face2.zScore ? "target" : "non-target",
              //Face 2 data
              faceNumber2:face2.faceNumber,
              zScore2: face2.zScore,
              faceType2: face2.zScore > face1.zScore ? "target" : "non-target"
            }
          };//End of choiceTrial
          
          //Make the confidence trial object
          var confidenceTrial = {
            type: 'html-slider-response',
            stimulus: '',
            labels: ['Extremely unconfident','Extremely confident'],
            start: 0,
            prompt: 'How confident are you in your choice?',
            data: {
              trialType: "2AFC Confidence",
              PE: PE
            },
            on_start: function(trial){
              //Get the data object from the last trial
              var data = jsPsych.data.get().last(1);
              //Get the chosen number from the data object
              var chosenFace = data.chosenFace;
              //Add that information to this trial's data
              trial.data.chosenFace = chosenFace;
            },
            on_finish: function(data){
              //Get the data object from the last two trials
              var lastTwoDataObjects = jsPsych.data.get().last(2)[0];
              //Get the data of the second last one (the one from the choice trial)
              var choiceTrial = lastTwoDataObjects[0];
              //Add in the response of this trial to it
              choiceTrial.response = data.response;
            }
          };
          
          //Make a trial object and return it
          return {
            type:'html-button-response', //This will be overridden by those of the trial
            timeline: [choiceTrial,confidenceTrial]
          };
          
        }//End of makeTrialFromPair
        
        
        //Function to make a trial from the triplet
        function makeTrialFromTriplet(triplet){
          
          //Sort the triplet of faces based on the z-score (start of array is highest score)
          triplet = triplet.sort(function(a,b){return (b.zScore - a.zScore); });
          
          //Tag the faces
          triplet[0].faceType = "target";
          triplet[1].faceType = "non-target";
          triplet[2].faceType = "distractor";
          
          //Determine if highPE or lowPE
          if(triplet[0].zScore < 0){
            var PE = "low";
          }
          else if(triplet[0].zScore > 0){
            var PE = "high";
          }
          
          //Shuffle the triplet to randomize the faces
          var shuffledTriplet = jsPsych.randomization.shuffle(triplet);
          
          //Load in the faces for easy handling
          var face1 = shuffledTriplet[0];
          var face2 = shuffledTriplet[1];
          var face3 = shuffledTriplet[2];
          
          //Make the choice trial object
          var choiceTrial = {
            type: 'html-button-response',
            stimulus: '',
            prompt: '<p> Which face is most attractive? </p>',
            choices: [
              makeImageHTML(face1.path),
              makeImageHTML(face2.path),
              makeImageHTML(face3.path)
            ],
            //The data that is included in the trial
            data: {
              //Log in the general trial data
              trialType: "3AFC",
              PE: PE,
              gender: face1.gender,
              zScoreDiff: triplet[0].zScore - triplet[1].zScore, //triplet is unshuffled
              targetZScore: triplet[0].zScore,
              nonTargetZScore: triplet[1].zScore,
              distractorZScore: triplet[2].zScore,
              //Face 1 data
              faceNumber1:face1.faceNumber,
              zScore1: face1.zScore,
              faceType1: face1.faceType,
              //Face 2 data
              faceNumber2:face2.faceNumber,
              zScore2: face2.zScore,
              faceType2: face2.faceType,
              //Face 3 data
              faceNumber3:face3.faceNumber,
              zScore3: face3.zScore,
              faceType3: face3.faceType
            }
          };//End of choiceTrial
          
          //Make the confidence trial object
          var confidenceTrial = {
            type: 'html-slider-response',
            stimulus: '',
            labels: ['Extremely unconfident','Extremely confident'],
            start: 0,
            prompt: 'How confident are you in your choice?',
            data: {
              trialType: "3AFC Confidence",
              PE: PE
            },
            on_start: function(trial){
              //Get the data object from the last trial (the 3AFC trial)
              var data = jsPsych.data.get().last(1);
              //Get the chosen number from the data object
              var chosenFace = data.chosenFace;
              //Add that information to this trial's data
              trial.data.chosenFace = chosenFace;
            },
            on_finish: function(data){
              //Get the data object from the last two trials
              var lastTwoDataObjects = jsPsych.data.get().last(2)[0];
              //Get the data of the second last one (the one from the choice trial)
              var choiceTrial = lastTwoDataObjects[0];
              //Add in the response of this trial to it
              choiceTrial.response = data.response;
            }
          };//End of confidenceTrial
          
          
          //Make a trial object and return it
          return {
            type:'html-button-response', //This will be overridden by those of the trial
            timeline: [choiceTrial,confidenceTrial]
          };
          
        }//End of makeTrialFromTriplet
        
        //Function to add the data to the final iteration
        function addDataToTrial(data){
          
          //Get the face that was chosen, in the form of 0 or 1 (0 means first face, 1 means second face).
          var choice = parseInt(data.button_pressed); //Parse it from string to int
          
          //If subject chose the target face
          if( 
            (choice === 0 && data.faceType1 === "target") || 
            (choice === 1 && data.faceType2 === "target") || 
            (choice === 2 && data.faceType3 === "target") 
            ){
            //Add to the data to the data object to be saved
            data.correct = true;
            data.chosenFace = "target";
          }
          //Else if they chose the non-target
          else if( 
            (choice === 0 && data.faceType1 === "non-target") || 
            (choice === 1 && data.faceType2 === "non-target") || 
            (choice === 2 && data.faceType3 === "non-target") 
            ){
            //Add to the data to the data object to be saved
            data.correct = false;
            data.chosenFace = "non-target";
          }
          //Else if they chose the distractor
          else if( 
            (choice === 0 && data.faceType1 === "distractor") || 
            (choice === 1 && data.faceType2 === "distractor") || 
            (choice === 2 && data.faceType3 === "distractor") 
            ){
            //Add to the data to the data object to be saved
            data.correct = false;
            data.chosenFace = "distractor";
          }
          
          //If the subject chose the first face
          if(choice === 0){
            //Add the z-score data of the chosen face
            data.chosenZScore = data.zScore1;
          }
          //Else if the subject chose the second face
          else if(choice === 1){
            //Add the z-score data of the chosen face
            data.chosenZScore = data.zScore2;
          }
          //Else if the subject chose the third face
          if(choice === 2){
            //Add the z-score data of the chosen face
            data.chosenZScore = data.zScore3;
          }
          
        }//End of addDataToTrial
        
        //Function to add the data to the confidence trial using the on_start function
        function confidence_on_start_function(trial){
          //Get the data object from the last trial
          var data = jsPsych.data.get().last(1).values()[0];
          //Get the chosen number from the choice trial data object
          var chosenFace = data.chosenFace;
          //Add that information to the confidence trial's data
          trial.data.chosenFace = chosenFace;
          
        }
        
        //Function to add the data to the choice trial using the on_finish function
        function confidence_on_finish_function(data){
          //Get the data object from the last two trials
          var lastTwoDataObjects = jsPsych.data.get().last(2).values();
          //Get the data of the second last data object (the one from the choice trial)
          var choiceTrial = lastTwoDataObjects[0]; //[0] is the choice trial
          //Add in the response of this the confidence trial to choice trial
          choiceTrial.response = data.response;
        }
        
        //Function to make the survey block
        function makeSurvey(){
          
          //Declare the questions array
          var questionsArray = [
            "1. Do you ever feel as if people seem to drop hints about you or say things with double meaning?",
            "2. Do you ever feel as if things in magazines or TV were written especially for you?",
            "3. Do you ever feel as if some people are not what they seem to be?",
            "4. Do you ever feel as if you are being persecuted in some way?",
            "5. Do you ever feel as if there is a conspiracy against you?",
            "6. Do you ever feel as if you are, or destined to be someone very important?",
            "7. Do you ever feel that you are a very special or unusual person?",
            "8. Do you ever feel that you are especially close to God?",
            "9. Do you ever think people can communicate telepathically?",
            "10. Do you ever feel as if electrical devices such as computers can influence the way you think?",
            "11. Do you ever feel as if you have been chosen by God in some way?",
            "12. Do you believe in the power of witchcraft, voodoo or the occult?",
            "13. Are you often worried that your partner may be unfaithful?",
            "14. Do you ever feel that you have sinned more than the average person?",
            "15. Do you ever feel that people look at you oddly because of your appearance?",
            "16. Do you ever feel as if you had no thoughts in your head at all?",
            "17. Do you ever feel as if the world is about to end?",
            "18. Do your thoughts ever feel alien to you in some way?",
            "19. Have your thoughts ever been so vivid that you were worried other people would hear them?",
            "20. Do you ever feel as if your own thoughts were being echoed back to you?",
            "21. Do you ever feel as if you are a robot or zombie without a will of your own?"
          ];
          
          //Declare the options
          var options = ["Yes","No"];
          
          //Declare an array of questionObjects
          var questionObjectsArray = [];
          
          //Loop through the questions Array and make the question objects
          for(var i = 0; i < questionsArray.length; i++){
            
            //Push the question object into the array
            questionObjectsArray.push({
              prompt: questionsArray[i],
              options: options,
              required: true
            });
            
          }//End of for loop
          
          //Make the trial object and return it
          return {
            type: 'survey-multi-choice',
            questions: questionObjectsArray,
            on_finish: function(data){
              
              //Declare a counter for the PDI
              var PDICounter = 0;
              
              //Parse the responses
              var responseObject = JSON.parse(data.responses);

              //Loop through the properties of the object
              for(var property in responseObject){
                //Get the current response
                var currentResponse = responseObject[property];
                //If the answer was "Yes", then we increment the counter
                if(currentResponse === "Yes"){
                  PDICounter++;
                }
              }//End of for loop
              
              //Add the counter data to the data object
              data.PDIScore = PDICounter;
              
            }//End of on_finish
          };//End of return
          
        }//End of makeSurvey
        
        //Function to make the debrief block
        function makeDebriefBlock(){
          
          //Page 1 instructions
          var page1 = "Great work!<br/>" + 
            "You have successfully completed the experiment.<br/>" +
            "Click on the 'Next' button to officially end the experiment and submit the HIT.";
            
          //Load it into a trial object and return it
          return {
            type: 'instructions',
            pages:[
              page1
            ],
            on_start: function(){
              //Set the variable to true so that we submit the HIT
              allPhasesCompleted = true;
            },
            show_clickable_nav: true
          };//End of return
          
        }//End of makeDebriefBlock function
        

        //================================
        //======== FUNCTIONS END =========
        //================================        
        
        //-----------------Your code above this line-----------------//
        ///////////////////////////////////////////////////////////////


        //---------Run the experiment---------
    
        //Initiate the experiment
        jsPsych.init({
          timeline: timeline,
          on_finish: function(){ //Execute this when the experiment finishes
            if(savingLocally){
              jsPsych.data.get().localSave('csv','testSave.csv'); //Save the data locally in a .csv file
            }
            if(displayData){
              jsPsych.data.displayData(); //Display the data onto the browser screen
            }
            if(psiTurkIsOn){
              psiturk.saveData({ 
                success: function(){
                  //Only submit the HIT if all phases are completed
                  if(allPhasesCompleted){
                    psiturk.completeHIT(); //Complete the HIT
                  }
                }
              });
            }
          },
          on_trial_finish: function(){ //Execute this after every trial
            if (savingToDatabase){
              save_data(tableName, [jsPsych.data.get().last(1).values()[0]]);
            }
          }
        });

        
        //------psiTurk Functions Begin------
    
        //A function to save the data to the SQL table on the psiturk server.  This gets called at the end of the file.
        function save_data(data_table,data){
          
          if(psiTurkIsOn){
            //Retrieve data from psiTurk and add to jsPsych data 
            jsPsych.data.addProperties(
              {
                workerId: psiturk.taskdata.get('workerId'),
                assignmentId: psiturk.taskdata.get('assignmentId'),
                hitId: psiturk.taskdata.get('hitId') 
              }
            );
          }
          //Else psiturk is not on
          else{
            //Get the workerID from the URL and return it
            //Add data to the jsPsych data file
            jsPsych.data.addProperties({
                workerId: workerId,
                assignmentId: assignmentId,
                hitId: hitId
            });
            
          }
          
          
          //Use AJAX to post the data onto the psiturk server
          $.ajax({
            type:'post',
            cache: false,
            url: 'https://psiturk.psych.ucla.edu/~' + username + '/' + folderName + '/templates/savedata.php',
            data: {
              table: data_table,
              json: JSON.stringify(data),
            },
            success: function(output) { console.log(output); } // write the result to javascript console
          });
        }//End of save_data
        
        //------psiTurk Functions End------
        
        
        // Function to draw parameters from the URL
        function $_GET(param) 
        {
            var vars = {};
            window.location.href.replace( 
                /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
                function( m, key, value ) { // callback
                    vars[key] = value !== undefined ? value : '';
                }
            );

            if ( param ) 
            {
                console.log(vars);
                console.log(param);
                return vars[param] ? vars[param] : null;    
            }
            return vars;
        }



    </script>
</html>